<div id="home_wrap">
    <h3>Welcome to Mr.Robot fanpage!</h3>
    <div class="wiki_content"><%= @info %></div>
    <span>Number of words: <%= @wordcount %></span>
    <span>Number of characters: <%= @charactercount %></span>
</div>
