<h3>This is HOME page</h3>
<h3><%= @info %></h3>
<p>Welcome to WAD wiki. A free online encyclopaedia of knowledge that can be viewed by anyone!</p>
<p>Feel free to search for anything you desire! And if it does not exist then create it!</p>
