<!DOCTYPE html>
<html>
    <head>
        <title>Wiki</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Wiki web application" />
        <meta name="keywords" content="wiki, test app, blog" />
        <link rel="stylesheet" href="/style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Odibee+Sans|Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">

    </head>
    <body>
        <header id="header">
            <img class="logo" src="/assets/Mr._Robot_Logo.svg" alt="Mr.Robot logo">
            <nav id="navigation">
                <a href="/" class="link" >Home</a>
                <a href="/about" class="link" >About</a>
                <% if $credentials %> 
                    <% if $credentials[0] != '' %> 
                        <%  @Userz = User.where(:username => $credentials[0]).to_a.first
                            if @Userz.edit == true %><a href="/edit" class="link" >Edit</a><% end %>
                        <a href="/user/<%= $credentials[0] %>" class="link username"><%= $credentials[0] %></a>  
                        <% if $credentials[0] == "Admin" %> 
                            <a href="/admincontrols" class="link usercontrols">Admin Controls</a> 
                        <% end %>
                        <a href="/logout" class="link usercontrols">Logout</a>  
                    <% else %> 
                        <a id="login_link" class="link">Login</a> 
                    <% end %> 
                <% else %> 
                    <a id="login_link" class="link">Login</a> 
                <% end %> 
            </nav>
        </header>
        <main>
            <div id="login_wrap" class="<%= $login %>">
                <div class="login_window">
                    <h2>Welcome back!</h2><br> 
                    <form id="no_login" action="/no_login" method="post">
                        <input id="close_login" type="submit" value="x">
                    </form>
                    <div class="row">
                        <div class="login">
                            <form action="/login" method="post">   
                                <input class="text-input" type="text" name="username" placeholder="Username"><br> 
                                <input class="text-input" type="password" name="password" placeholder="Password"><br> 
                                <input class="button" type="submit" value="Login">   
                            </form>   
                            <p class="error_text">The username and password do not match!</p>
                            <p>Don't have an account? <a id="register_btn">Create Account</a></p> 
                        </div>
                        <div class="register">
                            <form action="/createaccount" method="post">   
                                <input class="text-input" type="text" name="username" placeholder="Username"><br> 
                                <input class="text-input" type="password" name="password" placeholder="Password"><br> 
                                <input class="button" type="submit" value="Register">   
                            </form>   
                            <p class="error_text">The username and password do not match!</p>
                            <p>Already have an account? <a id="login_btn">Log in</a></p> 
                        </div>
                    </div>
                </div>
            </div>
            <%#Possibly create a Create Account prompt here? %>
            <%= yield %>
        </main>
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
        </script>
        <script src="app.js"></script>
    </body>
</html>

